body {
  background-color: black;
}
#flexcontainer {
  display: flex;
  justify-content: center;
}
.info {
  height: 400px;
  width: 50px;
  background-color: grey;
  margin: 1rem;
  postion: relative;
}
.text {
  display: none;
}
.hide {
  display: none;
}
button {
  display: block;
  margin: auto;
}
